# Crawling and Preprocessing

In [1]:
import import_ipynb
from TweetRetrieval import *
from datetime import date

importing Jupyter notebook from TweetRetrieval.ipynb
Today: 2022-10-17

## Gunung

In [2]:
path = 'gunung/'
filename = path + "Gunung " + str(date.today()) + ".csv"
category_tweet_retriever(filename, "Gunung")

In [3]:
df_gunung = pd.read_csv(filename, encoding='unicode_escape')
print(df_gunung.shape)

(1000, 3)

In [4]:
df_gunung.head()

,created_at,author,text
0,2022-10-17 13:26:15+00:00,nurfxtin,RT @karmenlunarx: Orkid ke-5 tmahal di dunia a...
1,2022-10-17 13:26:06+00:00,gagalsemangat_,RT @motherlander: Fenomena menarik dari Candi ...
2,2022-10-17 13:25:51+00:00,Mpok_Hanum,RT @motherlander: Fenomena menarik dari Candi ...
3,2022-10-17 13:25:19+00:00,clarissatty,"Sampai bawah gunung tu, sebat secawan 100plus ..."
4,2022-10-17 13:25:10+00:00,boysdontclubs,@undipmenfess itu gunung ungaran coccc

In [5]:
df_gunung['cleaned_tweet'] = df_gunung['text'].apply(lambda x: clean_tweet(x))
df_gunung['cleaned_tweet'] = df_gunung['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_gunung.head()

,created_at,author,text,cleaned_tweet
0,2022-10-17 13:26:15+00:00,nurfxtin,RT @karmenlunarx: Orkid ke-5 tmahal di dunia a...,orkid ke 5 tmahal di dunia ada di sabah berhar...
1,2022-10-17 13:26:06+00:00,gagalsemangat_,RT @motherlander: Fenomena menarik dari Candi ...,fenomena menarik dari candi pertapan di puncak...
2,2022-10-17 13:25:51+00:00,Mpok_Hanum,RT @motherlander: Fenomena menarik dari Candi ...,fenomena menarik dari candi pertapan di puncak...
3,2022-10-17 13:25:19+00:00,clarissatty,"Sampai bawah gunung tu, sebat secawan 100plus ...",sampai bawah gunung tu sebat secawan 100plus l...
4,2022-10-17 13:25:10+00:00,boysdontclubs,@undipmenfess itu gunung ungaran coccc,itu gunung ungaran coccc

In [6]:
header = ["created_at", "author", "cleaned_tweet"]
df_gunung.to_csv(filename, index=False, columns=header)

## Pantai

In [7]:
path = 'pantai/'
filename = path + "Pantai " + str(date.today()) + ".csv"
category_tweet_retriever(filename, "Pantai")

In [8]:
df_pantai = pd.read_csv(filename, encoding='unicode_escape')
df_pantai.shape

(1000, 3)

In [9]:
df_pantai.head()

,created_at,author,text
0,2022-10-17 13:27:17+00:00,fpoemsh,RT @elfrida_ola: @infomalang kak daerah sitiar...
1,2022-10-17 13:26:23+00:00,iemah_chuaaa,@anotherchru Betul kak iteman kulit nya abis s...
2,2022-10-17 13:25:55+00:00,polresjembrana,Untuk Menciptakan Situasi Aman dan Kondusif je...
3,2022-10-17 13:25:41+00:00,strygwyrnn,@cutiiiebean Ya allah sibuknya kamu kah? Ngapa...
4,2022-10-17 13:25:26+00:00,Valenti41684977,RT @tokopedia: Halo Denpasar Bli Jimin mau nga...

In [10]:
df_pantai['cleaned_tweet'] = df_pantai['text'].apply(lambda x: clean_tweet(x))
df_pantai['cleaned_tweet'] = df_pantai['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_pantai.head()

,created_at,author,text,cleaned_tweet
0,2022-10-17 13:27:17+00:00,fpoemsh,RT @elfrida_ola: @infomalang kak daerah sitiar...,kak daerah sitiarjo banjir udah setinggi atap ...
1,2022-10-17 13:26:23+00:00,iemah_chuaaa,@anotherchru Betul kak iteman kulit nya abis s...,betul kak iteman kulit nya abis selonjoran di ...
2,2022-10-17 13:25:55+00:00,polresjembrana,Untuk Menciptakan Situasi Aman dan Kondusif je...,untuk menciptakan situasi aman dan kondusif je...
3,2022-10-17 13:25:41+00:00,strygwyrnn,@cutiiiebean Ya allah sibuknya kamu kah? Ngapa...,ya allah sibuknya kamu kah ngapain aja wkwk se...
4,2022-10-17 13:25:26+00:00,Valenti41684977,RT @tokopedia: Halo Denpasar Bli Jimin mau nga...,halo denpasar bli jimin mau ngajakin healing k...

In [11]:
header = ["created_at", "author", "cleaned_tweet"]
df_pantai.to_csv(filename, index=False, columns=header)

## Kuliner

In [15]:
path = 'kuliner/'
filename = path + "Kuliner " + str(date.today()) + ".csv"
category_tweet_retriever(filename, "Kuliner")

In [16]:
df_kuliner = pd.read_csv(filename, encoding='unicode_escape')
df_kuliner.shape

(1000, 3)

In [17]:
df_kuliner.head()

,created_at,author,text
0,2022-10-17 13:54:34+00:00,rajodurian,Nikmati Olahan durian khas nusantara. Atau And...
1,2022-10-17 13:53:50+00:00,_seirama,"@darjofess samaa, info kuliner lah"
2,2022-10-17 13:53:48+00:00,kanjengmelmel,BANDUNG. Warung Kopi Purnama. Warung kopi lege...
3,2022-10-17 13:53:24+00:00,wonuvyu,RT @sukaskincarean: Rekomendasi kuliner di Mal...
4,2022-10-17 13:53:09+00:00,detikcom,Banyak netizen membagikan cara makan yang aneh...

In [18]:
df_kuliner['cleaned_tweet'] = df_kuliner['text'].apply(lambda x: clean_tweet(x))
df_kuliner['cleaned_tweet'] = df_kuliner['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_kuliner.head()

,created_at,author,text,cleaned_tweet
0,2022-10-17 13:54:34+00:00,rajodurian,Nikmati Olahan durian khas nusantara. Atau And...,nikmati olahan durian khas nusantara atau anda...
1,2022-10-17 13:53:50+00:00,_seirama,"@darjofess samaa, info kuliner lah",samaa info kuliner lah
2,2022-10-17 13:53:48+00:00,kanjengmelmel,BANDUNG. Warung Kopi Purnama. Warung kopi lege...,bandung warung kopi purnama warung kopi legend...
3,2022-10-17 13:53:24+00:00,wonuvyu,RT @sukaskincarean: Rekomendasi kuliner di Mal...,rekomendasi kuliner di malang mulai dari 10 ri...
4,2022-10-17 13:53:09+00:00,detikcom,Banyak netizen membagikan cara makan yang aneh...,banyak netizen membagikan cara makan yang aneh...

In [19]:
header = ["created_at", "author", "cleaned_tweet"]
df_kuliner.to_csv(filename, index=False, columns=header)