In [2]:
import pandas as pd
import os

In [2]:
# root = os.getcwd()

# def directory_lister(directory):
#     path_directory = os.path.join(root, directory)
#     file_directory = os.listdir(path_directory)
    
#     return file_directory

# def category_df(category):
#     df_all = []
    
#     for file in directory_lister(category):
#         df_all.append(pd.read_csv(os.path.join(os.path.join(root, category), file)))
#         df = pd.concat(df_all, ignore_index=True)
        
#     return df

In [11]:
# gunung1 = pd.read_csv("tempat/gunung/Gunung 2022-11-18.csv")
# pantai1 = pd.read_csv("tempat/pantai/Pantai 2022-11-18.csv")
# airterjun1 = pd.read_csv("tempat/airterjun/Air Terjun 2022-11-18.csv")
# kuliner1 = pd.read_csv("kategori/kuliner/Kuliner 2022-11-18.csv")
# renang1 = pd.read_csv("kategori/renang/Renang 2022-11-18.csv")

# gunung2 = pd.read_csv("tempat/gunung/Gunung 2022-11-20.csv")
# pantai2 = pd.read_csv("tempat/pantai/Pantai 2022-11-19.csv")
# airterjun2 = pd.read_csv("tempat/airterjun/Air Terjun 2022-11-19.csv")
# kuliner2 = pd.read_csv("kategori/kuliner/Kuliner 2022-11-19.csv")
# renang2 = pd.read_csv("kategori/renang/Renang 2022-11-20.csv")

# gunung = pd.concat([gunung1, gunung2], ignore_index=True)
# pantai = pd.concat([pantai1, pantai2], ignore_index=True)
# airterjun = pd.concat([airterjun1, airterjun2], ignore_index=True)
# kuliner = pd.concat([kuliner1, kuliner2], ignore_index=True)
# renang = pd.concat([renang1, renang2], ignore_index=True)
# kemah = pd.read_csv("kategori/kemah/Berkemah 2022-11-20.csv")

# gunung["category"] = "gunung"
# pantai["category"] = "pantai"
# airterjun["category"] = "air terjun"
# kuliner["category"] = "kuliner"
# renang["category"] = "renang"
# kemah["category"] = "kemah"

In [12]:
# df_tempat = pd.concat([gunung, pantai, airterjun], ignore_index=True)
# df_kategori = pd.concat([kuliner, renang, kemah], ignore_index=True)

In [56]:
df_tempat = pd.read_csv("_dataset/dataset tempat 2022-11-20.csv")
df_kegiatan = pd.read_csv("_dataset/dataset kegiatan 2022-11-21a.csv")

In [52]:
# df_pantai = pd.read_csv("tempat/pantai/Pantai 2022-11-21a.csv")
# df_pantai['category'] = "pantai"
# df_airterjun = pd.read_csv("tempat/airterjun/Air Terjun 2022-11-21a.csv")
# df_airterjun['category'] = "air terjun"
# df_tempat = pd.concat([df_tempat, df_pantai, df_airterjun], ignore_index=True)

In [57]:
df_kemah = pd.read_csv("kegiatan/kemah/Berkemah 2022-11-21a.csv")
df_kemah['category'] = "kemah"
df_kegiatan = pd.concat([df_kegiatan, df_kemah], ignore_index=True)

In [54]:
df_tempat['category'].value_counts()

gunung        4000
pantai        3908
air terjun    2160
Name: category, dtype: int64

In [58]:
df_kegiatan['category'].value_counts()

kuliner    4000
renang     4000
kemah      4000
Name: category, dtype: int64

In [61]:
df_tempat = pd.read_csv("_dataset/dataset tempat 2022-11-21a.csv")
df_kegiatan = pd.read_csv("_dataset/dataset kegiatan 2022-11-21a.csv")

In [62]:
df_tempat.head()

,created_at,author,cleaned_tweet,category
0,2022-11-18 18:40:29+00:00,abcdiloveyouf,nomin college au d dingin mau diangetin saat j...,gunung
1,2022-11-18 18:40:17+00:00,lutfimove,pemagaran dan gapura tpu astana gunung kp nyal...,gunung
2,2022-11-18 18:39:48+00:00,imamtoyib1,promo diskon khans sandal gunung pria wanita l...,gunung
3,2022-11-18 18:38:10+00:00,imjusthumann_,kangen naik gunung,gunung
4,2022-11-18 18:37:25+00:00,UNSfess_,halo mas mbak karanganyar kota atau sekitar be...,gunung

In [65]:
df_tempat = df_tempat.drop_duplicates(subset=['cleaned_tweet'])
df_tempat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5478 entries, 0 to 9936
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   created_at     5478 non-null   object
 1   author         5478 non-null   object
 2   cleaned_tweet  5477 non-null   object
 3   category       5478 non-null   object
dtypes: object(4)
memory usage: 214.0+ KB

In [66]:
df_kegiatan = df_kegiatan.drop_duplicates(subset=['cleaned_tweet'])
df_kegiatan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6461 entries, 0 to 11988
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   created_at     6461 non-null   object
 1   author         6461 non-null   object
 2   cleaned_tweet  6460 non-null   object
 3   category       6461 non-null   object
dtypes: object(4)
memory usage: 252.4+ KB

In [68]:
df_tempat.to_csv("_dataset/dataset tempat 2022-11-21a.csv", index=False)
df_kegiatan.to_csv("_dataset/dataset kegiatan 2022-11-21a.csv", index=False)