# Crawling and Preprocessing

In [7]:
import import_ipynb
from TweetRetrieval import *
import datetime
from datetime import date

# Places

## Gunung

In [3]:
path = 'tempat/gunung/'
filename = path + "Gunung " + str(date.today()) + ".csv"
category_tweet_retriever_2000(filename, "Gunung")

FileNotFoundError: [Errno 2] No such file or directory: 'gunung/Gunung 2022-11-21.csv'

In [ ]:
df_gunung = pd.read_csv(filename, encoding='unicode_escape')
print(df_gunung.shape)

In [ ]:
df_gunung.head()

In [ ]:
df_gunung['cleaned_tweet'] = df_gunung['text'].apply(lambda x: clean_tweet(x))
df_gunung['cleaned_tweet'] = df_gunung['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_gunung.head()

In [ ]:
header = ["created_at", "author", "cleaned_tweet"]
df_gunung.to_csv(filename, index=False, columns=header)

## Pantai

In [ ]:
path = 'pantai/'
filename = path + "Pantai " + str(date.today()) + ".csv"
category_tweet_retriever_2000(filename, "Pantai")

In [5]:
path = 'tempat/pantai/'
filename = path + "Pantai " + str(date.today()) + "a.csv"
category_tweet_retriever_custom(filename, "Pantai", 92)

In [6]:
df_pantai = pd.read_csv(filename, encoding='unicode_escape')
df_pantai.shape

(92, 3)

In [7]:
df_pantai.head()

,created_at,author,text
0,2022-11-21 01:45:20+00:00,azdn_twider,@UdaShafiq ...terbesar di Pantai Timur. Boleh ...
1,2022-11-21 01:45:19+00:00,moyakolvist,@Jepara_Twit Pantai jeporo tambah rusak neknng...
2,2022-11-21 01:44:43+00:00,Piingpangpong,RT @undipmenfess: -dips! Sender lagi di Pantai...
3,2022-11-21 01:44:42+00:00,BenMelangkah,Saya lama dah collect pantai timur. Ehekkk~ ð...
4,2022-11-21 01:44:22+00:00,ssmikz,Entah ape2 entah yang koyak bila org pantai ti...

In [8]:
df_pantai['cleaned_tweet'] = df_pantai['text'].apply(lambda x: clean_tweet(x))
df_pantai['cleaned_tweet'] = df_pantai['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_pantai.head()

,created_at,author,text,cleaned_tweet
0,2022-11-21 01:45:20+00:00,azdn_twider,@UdaShafiq ...terbesar di Pantai Timur. Boleh ...,terbesar di pantai timur boleh bukak peluang b...
1,2022-11-21 01:45:19+00:00,moyakolvist,@Jepara_Twit Pantai jeporo tambah rusak neknng...,pantai jeporo tambah rusak neknngene carane ga...
2,2022-11-21 01:44:43+00:00,Piingpangpong,RT @undipmenfess: -dips! Sender lagi di Pantai...,dips sender lagi di pantai tirang semarang eh ...
3,2022-11-21 01:44:42+00:00,BenMelangkah,Saya lama dah collect pantai timur. Ehekkk~ ð...,saya lama dah collect pantai timur ehekkk
4,2022-11-21 01:44:22+00:00,ssmikz,Entah ape2 entah yang koyak bila org pantai ti...,entah ape2 entah yang koyak bila org pantai ti...

In [9]:
header = ["created_at", "author", "cleaned_tweet"]
df_pantai.to_csv(filename, index=False, columns=header)

## Air Terjun

In [ ]:
path = 'airterjun/'
filename = path + "Curug " + str(date.today()) + ".csv"
category_tweet_retriever_1000(filename, "Curug")

In [2]:
path = 'tempat/airterjun/'
filename = path + "Curug " + str(date.today()) + ".csv"
category_tweet_retriever_custom(filename, "Curug", 920)

In [3]:
df_curug = pd.read_csv(filename, encoding='unicode_escape')
df_curug.shape

(920, 3)

In [ ]:
path = 'airterjun/'
filename = path + "Air Terjun " + str(date.today()) + ".csv"
category_tweet_retriever_1000(filename, "Air terjun")

In [5]:
path = 'tempat/airterjun/'
filename = path + "Air Terjun " + str(date.today()) + ".csv"
category_tweet_retriever_custom(filename, "Air terjun", 920)

In [6]:
df_airterjun = pd.read_csv(filename, encoding='unicode_escape')
df_airterjun.shape

(920, 3)

In [7]:
df_aerterjun = pd.concat([df_curug, df_airterjun], ignore_index=True)
df_aerterjun.head()

,created_at,author,text
0,2022-11-21 03:26:37+00:00,jntexpressid,"@ngasiemng Halo kak, mohon maaf sebelumnya jik..."
1,2022-11-21 03:16:34+00:00,PPSDMPD,Halo #SobatPusbangdarat!\r\n\r\nPPSDMPD bikin ...
2,2022-11-21 03:14:35+00:00,keyyynine,@tanyarlfes pas ke curug di cianjur tp bru bil...
3,2022-11-21 03:09:16+00:00,kpupemalang,"#TemanPemilih, Ayo daftar PPK...\r\n\r\nðLo..."
4,2022-11-21 03:07:04+00:00,txtjarjit,Air aqua tuh ngisi ulangnya langsung dari gunu...

In [10]:
df_aerterjun['cleaned_tweet'] = df_aerterjun['text'].apply(lambda x: clean_tweet(x))
df_aerterjun['cleaned_tweet'] = df_aerterjun['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_aerterjun.head()

,created_at,author,text,cleaned_tweet
0,2022-11-21 03:26:37+00:00,jntexpressid,"@ngasiemng Halo kak, mohon maaf sebelumnya jik...",halo kak mohon maaf sebelumnya jika area curug...
1,2022-11-21 03:16:34+00:00,PPSDMPD,Halo #SobatPusbangdarat!\r\n\r\nPPSDMPD bikin ...,halo sobatpusbangdarat ppsdmpd bikin bangga ni...
2,2022-11-21 03:14:35+00:00,keyyynine,@tanyarlfes pas ke curug di cianjur tp bru bil...,pas ke curug di cianjur tp bru bilang pas dh n...
3,2022-11-21 03:09:16+00:00,kpupemalang,"#TemanPemilih, Ayo daftar PPK...\r\n\r\nðLo...",temanpemilih ayo daftar ppk lokasi curug jajar...
4,2022-11-21 03:07:04+00:00,txtjarjit,Air aqua tuh ngisi ulangnya langsung dari gunu...,air aqua tuh ngisi ulangnya langsung dari gunu...

In [11]:
header = ["created_at", "author", "cleaned_tweet"]
df_aerterjun.to_csv(filename, index=False, columns=header)

# Activities

## Kuliner

In [ ]:
path = 'kuliner/'
filename = path + "Kuliner " + str(date.today()) + ".csv"
category_tweet_retriever_2000(filename, "Kuliner")

In [ ]:
df_kuliner = pd.read_csv(filename, encoding='unicode_escape')
df_kuliner.shape

In [ ]:
df_kuliner.head()

In [ ]:
df_kuliner['cleaned_tweet'] = df_kuliner['text'].apply(lambda x: clean_tweet(x))
df_kuliner['cleaned_tweet'] = df_kuliner['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_kuliner.head()

In [ ]:
header = ["created_at", "author", "cleaned_tweet"]
df_kuliner.to_csv(filename, index=False, columns=header)

## Renang

In [ ]:
path = 'renang/'
filename = path + "Renang " + str(date.today()) + ".csv"
category_tweet_retriever_2000(filename, "Renang")

In [ ]:
df_renang = pd.read_csv(filename, encoding='unicode_escape')
df_renang.shape

In [ ]:
df_renang.head()

In [ ]:
df_renang['cleaned_tweet'] = df_renang['text'].apply(lambda x: clean_tweet(x))
df_renang['cleaned_tweet'] = df_renang['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_renang.head()

In [ ]:
header = ["created_at", "author", "cleaned_tweet"]
df_renang.to_csv(filename, index=False, columns=header)

## Kemah

In [30]:
path = 'kegiatan/kemah/'
filename = path + "Kemah " + str(date.today()) + "a.csv"
category_tweet_retriever_1000(filename, "Kemah")

In [31]:
df_kemah = pd.read_csv(filename, encoding='unicode_escape')
df_kemah.shape

(1000, 3)

In [32]:
path = 'kegiatan/kemah/'
filename = path + "Camping " + str(date.today()) + ".csv"
category_tweet_retriever_1000(filename, "Camping")

In [33]:
df_camping = pd.read_csv(filename, encoding='unicode_escape')
df_camping.shape

(1000, 3)

In [34]:
df_berkemah = pd.concat([df_kemah, df_camping], ignore_index=True)
df_berkemah.shape

(2000, 3)

In [35]:
df_berkemah.head()

,created_at,author,text
0,2022-11-21 04:03:33+00:00,ezuZulfairy,@fakrulnaim13 HAHAHAH kemah po skalo demo HAHAH
1,2022-11-21 03:40:00+00:00,gonehim,@are_fifths Xpo. Ganu kemah banyok dh. Klate n...
2,2022-11-21 03:35:36+00:00,aaalifakmaal,"@NewsBFM dulu pakai tuala ja, now dah kemah ke..."
3,2022-11-21 03:23:30+00:00,zaquan94,@Injang_Nation Takpe la jang. Bukak kemah kat ...
4,2022-11-21 03:06:01+00:00,__roticanai,@SyahrainAkmal @wan_epy Kemah odo epi lonim

In [36]:
df_berkemah['cleaned_tweet'] = df_berkemah['text'].apply(lambda x: clean_tweet(x))
df_berkemah['cleaned_tweet'] = df_berkemah['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_berkemah.head()

,created_at,author,text,cleaned_tweet
0,2022-11-21 04:03:33+00:00,ezuZulfairy,@fakrulnaim13 HAHAHAH kemah po skalo demo HAHAH,hahahah kemah po skalo demo hahah
1,2022-11-21 03:40:00+00:00,gonehim,@are_fifths Xpo. Ganu kemah banyok dh. Klate n...,xpo ganu kemah banyok dh klate ni keno jadi ma...
2,2022-11-21 03:35:36+00:00,aaalifakmaal,"@NewsBFM dulu pakai tuala ja, now dah kemah ke...",dulu pakai tuala ja now dah kemah keming
3,2022-11-21 03:23:30+00:00,zaquan94,@Injang_Nation Takpe la jang. Bukak kemah kat ...,takpe la jang bukak kemah kat padang merbok je...
4,2022-11-21 03:06:01+00:00,__roticanai,@SyahrainAkmal @wan_epy Kemah odo epi lonim,kemah odo epi lonim

In [37]:
filename = path + "Berkemah " + str(date.today()) + "a.csv"
header = ["created_at", "author", "cleaned_tweet"]
df_berkemah.to_csv(filename, index=False, columns=header)

## Testing

In [2]:
import pandas as pd

In [19]:
df_test = pd.read_csv("test retrieve kuliner.csv", encoding='unicode_escape')
print(df_test.shape)

(594, 3)

In [16]:
df_test.head()

,created_at,author,text
0,2023-03-12 16:22:12+00:00,AndyKriswandy,@muhammaadbashar\r\nBashar bangsat (Sorry brad...
1,2023-03-12 16:21:43+00:00,4beydumb,RT @c_cassieey: ð REKOMENDASI KULINER PWTð...
2,2023-03-12 16:19:49+00:00,chila_key,Masih ada nih ayo yg laper makan malem nih yuk...
3,2023-03-12 16:18:11+00:00,Sarambe16,"@tanyarlfes Ada sayanggg, ayo cobain kuliner e..."
4,2023-03-12 16:11:17+00:00,angelacolline27,@Bambangelf Sy melihatnya hingga selesai+ mmg ...

In [17]:
df_test['cleaned_tweet'] = df_test['text'].apply(lambda x: clean_tweet(x))
df_test['cleaned_tweet'] = df_test['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_test.head()

,created_at,author,text,cleaned_tweet
0,2023-03-12 16:22:12+00:00,AndyKriswandy,@muhammaadbashar\r\nBashar bangsat (Sorry brad...,bashar bangsat sorry brader tapi reply ente di...
1,2023-03-12 16:21:43+00:00,4beydumb,RT @c_cassieey: ð REKOMENDASI KULINER PWTð...,rekomendasi kuliner pwt based on selama jadi m...
2,2023-03-12 16:19:49+00:00,chila_key,Masih ada nih ayo yg laper makan malem nih yuk...,masih ada nih ayo yg laper makan malem nih yuk...
3,2023-03-12 16:18:11+00:00,Sarambe16,"@tanyarlfes Ada sayanggg, ayo cobain kuliner e...",ada sayanggg ayo cobain kuliner enak lainnya c...
4,2023-03-12 16:11:17+00:00,angelacolline27,@Bambangelf Sy melihatnya hingga selesai+ mmg ...,sy melihatnya hingga selesai mmg bikin persain...

In [18]:
header = ["created_at", "author", "cleaned_tweet"]
df_test.to_csv("test cleaned kuliner.csv", index=False, columns=header)