In [1]:
import pandas as pd

df_tempat = pd.read_csv("_dataset/dataset tempat 2022-11-20.csv")
df_kegiatan = pd.read_csv("_dataset/dataset kegiatan 2022-11-20.csv")

In [3]:
df_tempat['category'].value_counts()

gunung        4000
pantai        3908
air terjun    2160
Name: category, dtype: int64

In [4]:
df_kegiatan['category'].value_counts()

kuliner    4000
renang     4000
kemah      4000
Name: category, dtype: int64

In [9]:
df_pantai = pd.read_csv("tempat/pantai/Pantai 2022-11-21a.csv")
df_airterjun = pd.read_csv("tempat/airterjun/Air Terjun 2022-11-21a.csv")
df_pantai['category'] = 'pantai'
df_airterjun['category'] = 'air terjun'

In [10]:
df_tempat = pd.concat([df_tempat, df_pantai, df_airterjun], ignore_index=True)

In [7]:
df_tempat.head()

,created_at,author,cleaned_tweet,category
0,2022-11-18 18:40:29+00:00,abcdiloveyouf,nomin college au d dingin mau diangetin saat j...,gunung
1,2022-11-18 18:40:17+00:00,lutfimove,pemagaran dan gapura tpu astana gunung kp nyal...,gunung
2,2022-11-18 18:39:48+00:00,imamtoyib1,promo diskon khans sandal gunung pria wanita l...,gunung
3,2022-11-18 18:38:10+00:00,imjusthumann_,kangen naik gunung,gunung
4,2022-11-18 18:37:25+00:00,UNSfess_,halo mas mbak karanganyar kota atau sekitar be...,gunung

In [13]:
df_tempat['category'].value_counts()

gunung        4000
pantai        4000
air terjun    4000
Name: category, dtype: int64

In [12]:
df_tempat.to_csv("_dataset/dataset tempat 2022-11-21b.csv", index=False)