In [1]:
import pandas as pd
import os

In [2]:
# root = os.getcwd()

# def directory_lister(directory):
#     path_directory = os.path.join(root, directory)
#     file_directory = os.listdir(path_directory)
    
#     return file_directory

# def category_df(category):
#     df_all = []
    
#     for file in directory_lister(category):
#         df_all.append(pd.read_csv(os.path.join(os.path.join(root, category), file)))
#         df = pd.concat(df_all, ignore_index=True)
        
#     return df

In [2]:
gunung = pd.read_csv("gunung/Gunung 2022-11-01.csv")
pantai = pd.read_csv("pantai/Pantai 2022-11-01.csv")
kuliner = pd.read_csv("kuliner/Kuliner 2022-11-01.csv")
gunung["category"] = "gunung"
pantai["category"] = "pantai"
kuliner["category"] = "kuliner"

unique = pd.read_csv("_dataset/dataset_unique 2022-10-31.csv")

df_temp = pd.concat([unique, gunung, pantai, kuliner], ignore_index=True)
print("unique dataset length before:", len(unique))
print("unique dataset length after new data addition:", len(df_temp))

df_all = df_temp.drop_duplicates(subset=['cleaned_tweet'])
print("unique dataset length after duplicate removed:", len(df_all))

unique dataset length before: 25711
unique dataset length after new data addition: 28711
unique dataset length after duplicate removed: 27052

In [5]:
df_all.tail()

,created_at,author,cleaned_tweet,category
25113,2022-10-29 05:00:01+00:00,TechinAsia_ID,wahyoo memanfaatkan 27 000 jaringan mitra wart...,kuliner
25114,2022-10-29 04:59:09+00:00,Onehem1,wah jalan jalan kuliner ci gbu,kuliner
25118,2022-10-29 04:57:00+00:00,kompasiana,bagi enterpreneur yang hendak dan sedang menja...,kuliner
25120,2022-10-29 04:56:07+00:00,TemanUno_binjai,event indonesia modest fashion week ini juga m...,kuliner
25123,2022-10-29 04:54:21+00:00,slothpxl,wih mantep selamat menikmati event selamat wis...,kuliner

In [6]:
df_all['category'].value_counts()

pantai     8394
gunung     8382
kuliner    6727
Name: category, dtype: int64

In [4]:
df_all.to_csv("_dataset/dataset_unique 2022-11-01.csv", index=False)