# Crawling and Preprocessing

In [2]:
import import_ipynb
from TweetRetrieval import *
from datetime import date

## Gunung

In [3]:
path = 'gunung/'
filename = path + "Gunung " + str(date.today()) + ".csv"
category_tweet_retriever(filename, "Gunung")

In [4]:
df_gunung = pd.read_csv(filename, encoding='unicode_escape')
print(df_gunung.shape)

(1000, 3)

In [5]:
df_gunung.head()

,created_at,author,text
0,2022-11-01 16:15:49+00:00,BenWibu,RT @Gerbang666: Gunung \r\n\r\nMinat Dm BARTER...
1,2022-11-01 16:15:46+00:00,RoihanRikza,"RT @tempodotco: Gunung Kerinci Erupsi Lagi, Ja..."
2,2022-11-01 16:15:35+00:00,211Crew_,@Boerhansome1 @PRSJWIN @Stanleyboyscre3 Ke gun...
3,2022-11-01 16:14:33+00:00,tempodotco,"Gunung Kerinci Erupsi Lagi, Jalur Penerbangan ..."
4,2022-11-01 16:13:24+00:00,gabsdiamm,@FerraKharisma kerja bagus ferrað¤© dungaren ...

In [6]:
df_gunung['cleaned_tweet'] = df_gunung['text'].apply(lambda x: clean_tweet(x))
df_gunung['cleaned_tweet'] = df_gunung['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_gunung.head()

,created_at,author,text,cleaned_tweet
0,2022-11-01 16:15:49+00:00,BenWibu,RT @Gerbang666: Gunung \r\n\r\nMinat Dm BARTER...,gunung minat dm barter foto amp video doii
1,2022-11-01 16:15:46+00:00,RoihanRikza,"RT @tempodotco: Gunung Kerinci Erupsi Lagi, Ja...",gunung kerinci erupsi lagi jalur penerbangan d...
2,2022-11-01 16:15:35+00:00,211Crew_,@Boerhansome1 @PRSJWIN @Stanleyboyscre3 Ke gun...,ke gunung antang aja bang kalo cari susu enak ...
3,2022-11-01 16:14:33+00:00,tempodotco,"Gunung Kerinci Erupsi Lagi, Jalur Penerbangan ...",gunung kerinci erupsi lagi jalur penerbangan d...
4,2022-11-01 16:13:24+00:00,gabsdiamm,@FerraKharisma kerja bagus ferrað¤© dungaren ...,kerja bagus ferra dungaren rodok jernih wis ky...

In [7]:
header = ["created_at", "author", "cleaned_tweet"]
df_gunung.to_csv(filename, index=False, columns=header)

In [8]:
df_gunung.tail()

,created_at,author,text,cleaned_tweet
995,2022-11-01 09:29:50+00:00,Heriwib69104193,@ganjarpranowo Pangapunten bpk Ganjar kenapa d...,pangapunten bpk ganjar kenapa didaerah saya ba...
996,2022-11-01 09:29:42+00:00,chitanamonac,Ajak chimon!! Mau lu ajak keliling thailand di...,ajak chimon mau lu ajak keliling thailand dia ...
997,2022-11-01 09:29:41+00:00,PA_GunungSugih,Kembali : Hakim Mediator PA Gunung Sugih Kela...,kembali hakim mediator pa gunung sugih kelas 1...
998,2022-11-01 09:29:33+00:00,_PangeranSenja_,"Kamu itu kayak suasana pantai dan gunung, yang...",kamu itu kayak suasana pantai dan gunung yang ...
999,2022-11-01 09:29:21+00:00,R_min80,Hanya di era presiden @jokowi putra putri Indo...,hanya di era presiden putra putri indonesia ma...

## Pantai

In [9]:
path = 'pantai/'
filename = path + "Pantai " + str(date.today()) + ".csv"
category_tweet_retriever(filename, "Pantai")

In [10]:
df_pantai = pd.read_csv(filename, encoding='unicode_escape')
df_pantai.shape

(1000, 3)

In [11]:
df_pantai.head()

,created_at,author,text
0,2022-11-01 16:18:25+00:00,sulewinto,RT @NarasiNewsroom: Filep Karma yang dikenal s...
1,2022-11-01 16:17:04+00:00,lakilakiyobi,RT @amnestyindo: [Siaran Pers] Hari ini Filep ...
2,2022-11-01 16:17:03+00:00,dwikisahkan,RT @jayapuraupdate: Telah Ditemukan Jenazah Al...
3,2022-11-01 16:17:02+00:00,monstequei,RT @jayapuraupdate: Telah Ditemukan Jenazah Al...
4,2022-11-01 16:16:44+00:00,KagoyaSilas,@jayapuraupdate Di Pantai Base-G sering terjad...

In [12]:
df_pantai['cleaned_tweet'] = df_pantai['text'].apply(lambda x: clean_tweet(x))
df_pantai['cleaned_tweet'] = df_pantai['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_pantai.head()

,created_at,author,text,cleaned_tweet
0,2022-11-01 16:18:25+00:00,sulewinto,RT @NarasiNewsroom: Filep Karma yang dikenal s...,filep karma yang dikenal sebagai aktivis kemer...
1,2022-11-01 16:17:04+00:00,lakilakiyobi,RT @amnestyindo: [Siaran Pers] Hari ini Filep ...,hari ini filep karma seorang tokoh pembela ham...
2,2022-11-01 16:17:03+00:00,dwikisahkan,RT @jayapuraupdate: Telah Ditemukan Jenazah Al...,telah ditemukan jenazah almarhum tokoh papua m...
3,2022-11-01 16:17:02+00:00,monstequei,RT @jayapuraupdate: Telah Ditemukan Jenazah Al...,telah ditemukan jenazah almarhum tokoh papua m...
4,2022-11-01 16:16:44+00:00,KagoyaSilas,@jayapuraupdate Di Pantai Base-G sering terjad...,di pantai base g sering terjadi orang tenggela...

In [13]:
header = ["created_at", "author", "cleaned_tweet"]
df_pantai.to_csv(filename, index=False, columns=header)

## Kuliner

In [14]:
path = 'kuliner/'
filename = path + "Kuliner " + str(date.today()) + ".csv"
category_tweet_retriever(filename, "Kuliner")

In [15]:
df_kuliner = pd.read_csv(filename, encoding='unicode_escape')
df_kuliner.shape

(1000, 3)

In [16]:
df_kuliner.head()

,created_at,author,text
0,2022-11-01 16:47:24+00:00,afalmafaaa,Ga sabar bgtt pgn nyobain kuliner pwt yg udh w...
1,2022-11-01 16:46:47+00:00,xxxjsta,RT @hugkwonli: @7DREAMVT_INA wisata kuliner ba...
2,2022-11-01 16:42:05+00:00,OJKMT_L,RT @hugkwonli: @7DREAMVT_INA wisata kuliner ba...
3,2022-11-01 16:40:28+00:00,hugkwonli,@7DREAMVT_INA wisata kuliner bareng haechan\r\...
4,2022-11-01 16:40:17+00:00,InvesJamurJabon,Ingin punya Resto Kuliner JOERAGANGroup di Ban...

In [17]:
df_kuliner['cleaned_tweet'] = df_kuliner['text'].apply(lambda x: clean_tweet(x))
df_kuliner['cleaned_tweet'] = df_kuliner['cleaned_tweet'].apply(lambda x: clean_spaces(x))
df_kuliner.head()

,created_at,author,text,cleaned_tweet
0,2022-11-01 16:47:24+00:00,afalmafaaa,Ga sabar bgtt pgn nyobain kuliner pwt yg udh w...,ga sabar bgtt pgn nyobain kuliner pwt yg udh w...
1,2022-11-01 16:46:47+00:00,xxxjsta,RT @hugkwonli: @7DREAMVT_INA wisata kuliner ba...,wisata kuliner bareng haechan mamavote nctdream
2,2022-11-01 16:42:05+00:00,OJKMT_L,RT @hugkwonli: @7DREAMVT_INA wisata kuliner ba...,wisata kuliner bareng haechan mamavote nctdream
3,2022-11-01 16:40:28+00:00,hugkwonli,@7DREAMVT_INA wisata kuliner bareng haechan\r\...,wisata kuliner bareng haechan mamavote nctdream
4,2022-11-01 16:40:17+00:00,InvesJamurJabon,Ingin punya Resto Kuliner JOERAGANGroup di Ban...,ingin punya resto kuliner joeragangroup di ban...

In [18]:
header = ["created_at", "author", "cleaned_tweet"]
df_kuliner.to_csv(filename, index=False, columns=header)

In [19]:
df_kuliner.tail()

,created_at,author,text,cleaned_tweet
995,2022-11-01 01:59:19+00:00,grteame,"Pengen renang, pengen nonton, pengen kuliner, ...",pengen renang pengen nonton pengen kuliner pen...
996,2022-11-01 01:59:10+00:00,djaycoholyc,Bikin acara kuliner siang berjudul: Kuyang.\r\...,bikin acara kuliner siang berjudul kuyang kuli...
997,2022-11-01 01:58:53+00:00,DERITAD007,"RT @bank_indonesia: #SobatRupiah, bagaimana re...",sobatrupiah bagaimana reaksi delegasi g20 keti...
998,2022-11-01 01:58:29+00:00,DilaRiesta,RT @undipmenfess: -dips! tolong tambahin info ...,dips tolong tambahin info kuliner semarang yg ...
999,2022-11-01 01:51:18+00:00,TemanUno15,Dia mengimbau pelaku kuliner dapat mengeksplor...,dia mengimbau pelaku kuliner dapat mengeksplor...

In [20]:
df = pd.read_csv("kuliner/Kuliner 2022-10-28.csv", encoding='unicode_escape')
df.shape

(1000, 3)